<header>
  <div class="nav-container">
    <a href="/" class="brand">
      <img src="/assets/img/logo_raizes.png" alt="Instituto Raízes" class="brand-icon-img" width="40" />
      <span style="font-size:1.1rem; font-weight:700; color:#fff;">Instituto Raízes</span>
    </a>

    <button class="nav-toggle" aria-label="Abrir menu" onclick="toggleNav()">
      ☰
    </button>

    <nav>
      <ul id="nav-links">
        <li><a href="/">Início</a></li>
        <li><a href="/cursos/">Cursos</a></li>
        <li><a href="/#sobre-nos">Sobre nós</a></li>
        <li><a href="/#contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
